<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
	<center>

			<h1> Login Page </h1>

			<form  method="post" action="http://127.0.0.1:5000/result" >
				<label> Enter email </label>
				<input type="text" name="usermail" placeholder="Enter Email Adress">
				<br><br>
				<label> Enter password </label>
				<input type="password" name="userpass" placeholder="Enter New Password">
				<br><br>
				<input type="submit" name="submit" value="Sign In">
			</form>

		</center>
</body>
</html>